@charset "UTF-8";

@font-face{
    font-family: "Butler";
    font-style: normal;
	font-weight: normal;
    src: url("fonts/butler_regular-webfont.woff2") format("woff2"),
    url("fonts/butler_regular-webfont.woff") format("woff"),
    url("fonts/butler_regular-webfont.svg") format("svg"),
    url("fonts/butler_regular-webfont.eot") format("eot"),
    url("fonts/butler_regular-webfont.ttf") format("ttf");
}

:root{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

main{
    margin: 0 auto;
    max-width: 1440px;
    overflow-x: hidden;
}
body{
    margin: 0;
}
.nav{
    min-height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__content{
    display: none;
}

/*navigation*/
.nav__item{
    color:#000;
    font-weight: 400;
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
    max-width: 1170px;
}

.blockquote{
    font-family: 'Butler';
    font-size: 2rem;
    margin: 0 0 30px 0;
    width: 90%;
}

.banner{
    padding-left: 7.3%;
    height: 630px;
    position: relative;
}

.banner .banner__content{
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 22%;
    left: 28%;
    margin: 0 auto;
    text-align: center;
    width: 44%;
}

.banner img{
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.banner .banner__title{
    margin-bottom: 18px;
    margin-top: 120px;
    padding: 0px 15px;
}

.banner__subtitle{
    margin-bottom: 90px;
}

.banner__title,.section_subtitle{
    font-family: 'Butler';
    font-weight: 400;
    font-size: 87px;
    margin-bottom: 0;
}
.section_subtitle{
    margin-top: 0;
}
.banner__subtitle,.section_title{
    font-weight: 700;
    font-size: 1.125rem;
}

/*biography block*/
.biography{
    margin-top: 135px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.biography .biography__picture{
    width: 100%;
    max-width: 47.4%; 
}
.biography .biography__content{
    width: 100%;
    max-width: 40.6%;
    display: flex;
    flex-flow: column;
    gap: 47px;
}
.biography .biography__content .section_title{
    transform: rotate(270deg) translateX(-470px) translateY(21vw);
    text-align: left;
    transform-origin: bottom;
}
.biography .biography__content .biography__text{
    font-size: 1.125rem;
    font-weight: 500;
    color:#636363;
    margin-bottom: 15px;
}
.biography .biography__content .biography__text p{
    margin: 0;
}
.biography .biography__content .blockquote::before{
    content: ' ';
    display: block;
    height: 4px;
    width: 14px;
    background-color: #000;
    margin-bottom: 25px;
}

/*designers block*/
.designers{
    position: relative;
    margin-top: 165px;
}
.designers .section_title{
    width: 85px;
    position: absolute;
    right: 25.8%;
    writing-mode: rl-tb;
    transform: rotate(270deg) translateX(-15px);
}
.designers .designers__content{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    flex-flow: row nowrap;
    width: 100vw;
}
.designers .designers__content .designers__item{
    display: flex;
    flex-flow: column;
    gap: 7px;
    max-width: 21.5%;
    order: 2;
}
.designers .designers__content .designers__item.big{
    order: 1;
    margin-right: 7%;
    align-items: center;
    max-width: 42.3%;
    overflow: hidden;
}
.designers__item .designers-item__name{
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
}
.designers__item .designers-item__text{
    margin: 0;
}
.designers__item .designers-item__text--bold{
    font-weight: 700;
}

/*testimonials block*/
.testimonials__item{
    font-size: 1.17rem;
    color: #000;
    text-decoration: none;
}
.testimonials__item-bold{
    display: block;
    font-weight: 700;
}

/*strongpoints block*/
.strongpoints__content{
    list-style-type: none;
}
.strongpoints__item{
    font-family: 'Butler';
    font-size: 2.125rem;
}