@charset "UTF-8";

@font-face{
    font-family: "Butler";
    font-style: normal;
	font-weight: normal;
    src: url("fonts/butler_regular-webfont.woff2") format("woff2"),
    url("fonts/butler_regular-webfont.woff") format("woff"),
    url("fonts/butler_regular-webfont.svg") format("svg"),
    url("fonts/butler_regular-webfont.eot") format("eot"),
    url("fonts/butler_regular-webfont.ttf") format("ttf");
}

:root{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

main{
    margin: 0 auto;
    max-width: 1440px;
    overflow-x: hidden;
}
body{
    margin: 0;
}
.nav{
    min-height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__content{
    display: none;
}
/*navigation*/
.nav__item{
    color:#000;
    font-weight: 400;
    text-decoration: none;
}
.wrapper{
    margin: 0 auto;
    max-width: 1120px;
}
.banner{
    padding-left: 55px;
    height: 630px;
    position: relative;
}

.banner .banner__content{
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 22%;
    left: 26.3%;
    margin: 0 auto;
    text-align: center;
    width: 47.4%;
}

.banner img{
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.banner .banner__title{
    margin-bottom: 18px;
    margin-top: 120px;
    padding: 0px 60px;
}

.banner__subtitle{
    margin-bottom: 90px;
}

.banner__title,.section_subtitle{
    font-family: 'Butler';
    font-weight: 400;
    font-size: 87px;
}

.banner__subtitle,.section_title{
    font-weight: 700;
    font-size: 1.125rem;
}

.biography__text{
    font-size: 1.125rem;
    font-weight: 500;
    color:#636363;
}

.blockquote{
    font-family: 'Butler';
    font-size: 2rem;
}

/*designers block*/
.designers__item .designers-item__name{
    text-transform: uppercase;
    font-size: 1.17rem;
}
.designers__item .designers-item__text{
    font-size: 1.17rem;
}
.designers__item .designers-item__text--bold{
    font-weight: 700;
}

/*testimonials block*/
.testimonials__item{
    font-size: 1.17rem;
    color: #000;
    text-decoration: none;
}
.testimonials__item-bold{
    display: block;
    font-weight: 700;
}

/*strongpoints block*/
.strongpoints__content{
    list-style-type: none;
}
.strongpoints__item{
    font-family: 'Butler';
    font-size: 2.125rem;
}