@charset "UTF-8";

@font-face{
    font-family: "Butler";
    font-style: normal;
	font-weight: normal;
    src: url("fonts/butler_regular-webfont.woff2") format("woff2"),
    url("fonts/butler_regular-webfont.woff") format("woff"),
    url("fonts/butler_regular-webfont.svg") format("svg"),
    url("fonts/butler_regular-webfont.eot") format("eot"),
    url("fonts/butler_regular-webfont.ttf") format("ttf");
}

:root{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

main{
    margin: 0 auto;
    overflow: hidden;
}
body{
    margin: 0;
}
.nav{
    min-height: 135px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
}
.nav__content{
    display: none;
}

/*navigation*/
.nav__item{
    color:#000;
    font-weight: 400;
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
    max-width: 1170px;
}

.blockquote{
    font-family: 'Butler';
    font-size: 2rem;
    margin: 0 0 35px 0;
    width: 92%;
}

.banner{
    min-height: 630px;
    position: relative;
    max-width: 1065px;
    margin: 0 auto;
}

.banner .banner__content{
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    width: 53%;
    padding: 15px 0;
}

.banner img{
    position: absolute;
    z-index: 1;
    bottom: 0;
    min-height: 494px;
}

.banner .banner__title{
    margin-bottom: 20px;
    margin-top: 110px;
    padding: 0px 15px;
}

.banner__subtitle{
    margin-bottom: 70px;
}

.banner__title,.section_subtitle{
    font-family: 'Butler';
    font-weight: 400;
    font-size: 87px;
    margin-bottom: 0;
}
.section_subtitle{
    margin-top: 0;
}
.banner__subtitle,.section_title{
    font-weight: 700;
    font-size: 1.125rem;
}

/*biography block*/
.biography{
    margin-top: 135px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}
.biography .biography__picture{
    width: 100%;
    max-width: 45.4%;
}
.biography .biography__picture img{
    width: inherit;
}
.biography .biography__content{
    width: 100%;
    max-width: 42.6%;
    -ms-display: grid;
    display: grid;
    row-gap: 37px;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 48% 72px 1fr;
}
.biography .biography__content .section_title{
    transform: rotate(270deg) translateY(35px);
    grid-column: 2/3;
    grid-row: 3/4;
    padding-bottom: 10px;
    align-self: end;
}
.biography .biography__content .section_subtitle{
    grid-column: 1/2;
    align-self: end;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    gap: 5px;
}

.biography .biography__content .biography__text{
    font-size: 1.125rem;
    font-weight: 500;
    color: #636363;
    margin-bottom: 15px;
    grid-column: 1/2;
}
.biography .biography__content .biography__text p{
    margin: 0;
}
.biography .biography__content .biography__text ul{
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    gap: 5px;
}
.biography .biography__content .blockquote{
    grid-column: 1/2; 
}
.biography .biography__content .blockquote::before{
    content: ' ';
    display: block;
    height: 4px;
    width: 14px;
    background-color: #000;
    margin-bottom: 30px;
}

/*designers block*/
.designers{
    position: relative;
    margin: 165px auto;
    max-width: 1440px;
}
.designers .section_title{
    width: 85px;
    position: absolute;
    right: 25.8%;
    writing-mode: rl-tb;
    transform: rotate(270deg) translateX(-15px);
}
.designers .designers__content{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    gap: 15px;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100vw;
    padding-top: 7px;
}
.designers .designers__content .designers__item{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    gap: 7px;
    max-width: 21.5%;
    min-width: 270px;
    order: 2;
}
.designers .designers__content .designers__item.big{
    order: 1;
    margin-right: 7%;
    -webkit-align-items: center;
    align-items: center;
    max-width: 42.3%;
    overflow: hidden;
}
.designers__item .designers-item__name{
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
}
.designers__item .designers-item__text{
    margin: 0;
}
.designers__item .designers-item__text--bold{
    font-weight: 700;
}

/*testimonials block*/
.testimonials{
    padding-top: 85px;
    max-width: 1440px;
    margin: 0 auto;
}
.testimonials .section_title{
    padding-left: 85px;
}
.testimonials .testimonials__content{
    margin: 40px auto 0 auto;
    max-width: 1254px;
    column-gap: 34px;
    -ms-display: grid;
    display: grid;
    row-gap: 30px;
    grid-template-columns: 52px 47.5% 47%;
    grid-template-rows: 35% 1fr;
    min-height: 760px;
}
.testimonials__content-links{
    grid-column: 1/2;
    grid-row: 1/3;
    padding-bottom: 20px;
    -ms-display: grid;
    padding-left: 7px;
    display: grid;
    grid-template-rows: 1fr 30% 31%;
    align-items: end;
}
.testimonials__link{
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    transform-origin: top left;
	transform: rotate(-90deg);
}
.testimonials__link-bold{
    display: block;
    font-weight: 700;
}
.testimonials__content-main_img{
    grid-column: 2/3;
    grid-row: 1/3;
    overflow: hidden;
}
.testimonials__content-text{
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 1.9rem;
    line-height: 1.25;
    width: 36%;
    text-align: center;
    justify-self: center;
    margin: 0;
}
.testimonials__content-second_img{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
}
/*strongpoints block*/
.strongpoints{
    margin-top: 115px;
    -ms-display: grid;
    display: grid;
    gap: 25px 19px;
    grid-template-rows: 130px 1fr;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(350px, 1fr)) minmax(577px, 1fr) minmax(350px, 1fr);
}
.strongpoints .section_title{
    width: 125px;
    grid-column: 2/3;
    align-self: flex-start;
    transform: rotate(270deg) translateX(-20px) translateY(50px);
}
.strongpoints .section_subtitle{
    align-self: end;
    grid-column: 3/4;
    padding-left: 72px;
}
.strongpoints__content-item{
    grid-row-start: 2;
}

.strongpoints__list{
    list-style-type: none;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    flex-flow: column;
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 25.5%;
    margin-top: 20px;
}
.strongpoints__list-item{
    font-family: 'Butler';
    font-size: 2.125rem;
    padding-left: 0;
    line-height: 1.15;
}
.footer__menu{
    display: none;
}

@media all and (max-width:1280px){
    .biography{
        margin-top: 50px;
    }
    .biography .biography__content .section_title{
        transform: rotate(270deg) translateY(0px);
    }
    .testimonials{
        padding-top: 0;
    }
    .testimonials__content-text{
        width: 58%;
    }
    .strongpoints .section_subtitle {
        align-self: end;
        grid-column: 1/2;
        padding-left: 72px;
    }
    .strongpoints .section_title {
        width: 125px;
        grid-column: 3/4;
        align-self: end;
        transform: rotate(270deg) translateX(40px) translateY(-55px);
    }
    .strongpoints__content-item.strongpoints__list{
        grid-column-start: 1;
    }
}

@media all and (max-width:767px){
    .nav{
        display: none;
    }
    /*banner*/
    .banner{
        max-width: 100%;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-flow: column-reverse;
        flex-flow: column-reverse;
        gap: 45px;
    }
    .banner img,.banner .banner__content{
        position: unset;
    }
    .banner .banner__content{
        transform: unset;
        width: 100%;
        padding: 26px 0;
    }
    .banner__title{
        font-size: 70px;
    }
    /*biography*/
    .biography{
        padding-left: 0;
        -webkit-flex-flow: column-reverse;
        flex-flow: column-reverse;
    }
    .biography .biography__picture{
        margin-top: -10px;
    }
    .biography .biography__picture,
    .biography .biography__content{
        max-width: 100%;
    }
    .biography .biography__content{
        grid-template-columns: 55% 45%;
        grid-auto-flow: row;
        grid-template-rows: unset;
        row-gap: 30px;
        position: relative;
    }
    .biography .biography__content .section_title{
        transform: unset;
        grid-column: 2/3;
        text-align: right;
        grid-row: 1/2;
        align-self: flex-start;
        padding-right: 30px;
        margin-top: 0;
    }
    .biography .biography__content .biography__text{
        margin-bottom: 0;
        grid-row: 1/2;
        padding-left: 30px;
    }
    .biography .biography__content .biography__text ul{
        -webkit-flex-flow: column;
        flex-flow: column;
        gap: 0;
    }
    .biography .biography__content .blockquote::before{
        content: unset;
    }
    .biography .biography__content .blockquote{
        grid-column: 1/3;
        grid-row: 2/3;
        margin: 55px auto 35px;
        padding-left: 25px;
        font-size: 1.9rem;
        line-height: 1.25;
    }
    .biography .biography__content .section_subtitle{
        grid-column: 1/3;
        align-self: flex-start;
        margin-top: 0;
        font-size: 78px;
        -webkit-flex-flow: row;
        flex-flow: row;
        justify-content: center;
        gap: 8px;
    }
    .biography .biography__content .section_subtitle::before{
        content:'-';
        color:#000;
        width: 25px;
        height: 5px;
        margin-right: 5px;
    }
    .biography .biography__content .section_subtitle .name{
        max-width: 160px;
        overflow: hidden;
    }
    /*designers*/
    .designers{
        margin: 50px auto;
    }
    .designers .section_title{
        right: 30px;
        writing-mode: unset;
        transform: unset;
    }
    .designers .designers__content{
        padding-left: 30px;
    }
    .designers .designers__content .designers__item.big{
        order: 3;
        margin-right: 0;
    }
    /*footer*/
    .footer__menu{
        display: unset;
        border-top: 1px solid #000;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        list-style-type: none;
    }
    .footer__menu .footer__menu-item{
        font-size: 2.5rem;
        font-family: 'Butler';
        font-weight: 400;
        padding: 25px 0;
    }
    .footer__menu .footer__menu-item a{
        color: #000;
        text-decoration: none;
    }
}