@font-face {
    font-family: 'Butler';
    src: local('Butler UltraLight'), local('Butler-UltraLight'),
    url('../fonts/butler/Butlerultralight.woff2') format('woff2'),
    url('../fonts/butler/Butlerultralight.woff') format('woff'),
    url('../fonts/butler/Butlerultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler Light'), local('Butler-Light'),
    url('../fonts/butler/Butlerlight.woff2') format('woff2'),
    url('../fonts/butler/Butlerlight.woff') format('woff'),
    url('../fonts/butler/Butlerlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler'),
    url('../fonts/butler/Butler.woff2') format('woff2'),
    url('../fonts/butler/Butler.woff') format('woff'),
    url('../fonts/butler/Butler.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler Medium'), local('Butler-Medium'),
    url('../fonts/butler/Butlermedium.woff2') format('woff2'),
    url('../fonts/butler/Butlermedium.woff') format('woff'),
    url('../fonts/butler/Butlermedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto/Roboto.woff2') format('woff2'),
    url('../fonts/roboto/Roboto.woff') format('woff'),
    url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto/Robotomedium.woff2') format('woff2'),
    url('../fonts/roboto/Robotomedium.woff') format('woff'),
    url('../fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto/Robotobold.woff2') format('woff2'),
    url('../fonts/roboto/Robotobold.woff') format('woff'),
    url('../fonts/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}