:root{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

.nav-content{
    transition: 0.5s ease-in-out;
    transform: scaleY(0);
    transform-origin: 0 0;
}

.nav:hover .nav-content{
    transform: scaleY(1);
}

.wrapper{
    margin: 0 auto;
    max-width: 1170px;
}

.blockquote{
    font-family: 'Butler';
    font-size: 2rem;
    margin: 0 0 35px 0;
    width: 92%;
}

.banner{
    min-height: 630px;
    max-width: 1065px;
}

.banner img{
    min-height: 494px;
}

.title{
    font-family: 'Butler';
    font-weight: 400;
    font-size: 87px;
    margin-bottom: 0;
}

.subtitle{
    margin-top: 0;
    font-weight: 700;
    font-size: 1.125rem;
}

/*biography block*/
.biography{
    margin-top: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}
.biography .biography__picture{
    width: 100%;
    max-width: 45.4%;
}
.biography .biography__picture img{
    width: inherit;
}
.biography .biography__content{
    width: 100%;
    max-width: 42.6%;
    display: grid;
    row-gap: 37px;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 48% 72px 1fr;
}
.biography .biography__content .section-title{
    transform: rotate(270deg) translateY(35px);
    grid-column: 2/3;
    grid-row: 3/4;
    padding-bottom: 10px;
    align-self: end;
}
.biography .biography__content .section-subtitle{
    grid-column: 1/2;
    align-self: end;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.biography .biography__content .biography__text{
    font-size: 1.125rem;
    font-weight: 500;
    color: #636363;
    margin-bottom: 15px;
    grid-column: 1/2;
}
.biography .biography__content .biography__text .biography__text-job{
    margin: 0;
}
.biography .biography__content .biography__text .biography__text-list{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}
.biography .biography__content .blockquote{
    grid-column: 1/2; 
}
.biography .biography__content .blockquote::before{
    content: ' ';
    display: block;
    height: 4px;
    width: 14px;
    background-color: #000;
    margin-bottom: 30px;
}

/*designers block*/
.designers{
    position: relative;
    margin: 165px auto;
    max-width: 1440px;
}
.designers .section-title{
    width: 85px;
    position: absolute;
    right: 25.8%;
    writing-mode: rl-tb;
    transform: rotate(270deg) translateX(-15px);
}
.designers .designers__content{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    flex-flow: row nowrap;
    width: 100vw;
    padding-top: 7px;
}
.designers .designers__content .designers__content-item{
    display: flex;
    flex-flow: column;
    gap: 7px;
    max-width: 21.5%;
    min-width: 265px;
    order: 2;
}
.designers .designers__content .designers__content-item_image_big{
    order: 1;
    margin-right: 7%;
    align-items: center;
    max-width: 42.3%;
    overflow: hidden;
}
.designers__content-item .designers__content-item__info{
    padding-left: 5px;
}
.designers__content-item .designers__content-item__name{
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
    font-size: 1rem;
}
.designers__content-item .designers__content-item__text{
    margin: 0;
}
.designers__content-item__category{
    font-weight: 700;
}
/*testimonials block*/
.testimonials{
    padding-top: 85px;
    max-width: 1440px;
    margin: 0 auto;
}
.testimonials .section-title{
    padding-left: 85px;
}
.testimonials .testimonials__content{
    margin: 40px auto 0 auto;
    max-width: 1254px;
    column-gap: 34px;
    display: grid;
    row-gap: 30px;
    grid-template-columns: 52px 47.5% 47%;
    grid-template-rows: 35% 1fr;
    min-height: 760px;
}
.testimonials__content-links{
    grid-column: 1/2;
    grid-row: 1/3;
    padding-bottom: 20px;
    padding-left: 7px;
    display: grid;
    grid-template-rows: 1fr 30% 31%;
    align-items: end;
}
.testimonials__link{
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    transform-origin: top left;
	transform: rotate(-90deg);
}
.testimonials__link_text_underline {
    position: relative;
}
 
.testimonials__link_text_underline::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.3s, transform 0.3s;
}
  
.testimonials__link_text_underline:hover::after,  .testimonials__link_text_underline:focus::after{
      opacity: 1;
      transform: translateY(0px);
}
.testimonials__link-bold{
    display: block;
    font-weight: 700;
}
.testimonials__content-main-img{
    grid-column: 2/3;
    grid-row: 1/3;
    overflow: hidden;
}
.testimonials__content-text{
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 1.9rem;
    line-height: 1.25;
    width: 36%;
    text-align: center;
    justify-self: center;
    margin: 0;
}
.testimonials__content-second-img{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
}
/*strongpoints block*/
.strongpoints{
    margin-top: 115px;
    display: grid;
    gap: 25px 19px;
    grid-template-rows: 130px 1fr;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(350px, 1fr)) minmax(577px, 1fr) minmax(350px, 1fr);
}
.strongpoints .section-title{
    width: 125px;
    grid-column: 2/3;
    align-self: flex-start;
    transform: rotate(270deg) translateX(-20px) translateY(50px);
}
.strongpoints .section-subtitle{
    align-self: end;
    grid-column: 3/4;
    padding-left: 72px;
}
.strongpoints__content-item{
    grid-row-start: 2;
}

.strongpoints__list{
    list-style-type: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 25.5%;
    margin-top: 20px;
}
.strongpoints__list-item{
    font-family: 'Butler';
    font-size: 2.125rem;
    padding-left: 0;
    line-height: 1.15;
}
.footer-menu{
    display: none;
}

@media all and (max-width:1280px){
    .biography{
        margin-top: 50px;
    }
    .biography .biography__content{
        grid-template-rows: 31% 72px 1fr;
    }
    .biography .biography__content .section-title{
        transform: rotate(270deg) translateY(0px);
    }
    .biography .biography__content .section-subtitle{
        align-self: start;
    }
    .testimonials{
        padding-top: 0;
    }
    .testimonials__content-text{
        width: 58%;
    }
    .strongpoints{
        grid-template-columns: 240px repeat(3, minmax(350px, 1fr));
    }
    .strongpoints .section-subtitle {
        align-self: end;
        grid-column: 1/3;
        padding-left: 72px;
    }
    .strongpoints .section-title {
        width: 125px;
        grid-column: 3/4;
        align-self: end;
        transform: rotate(270deg) translateX(40px) translateY(-55px);
    }
    .strongpoints__content-item.strongpoints__list{
        grid-column-start: 1;
    }
}

@media all and (max-width:767px){
    /*banner*/
    .banner{
        max-width: 100%;
        display: flex;
        flex-flow: column-reverse;
        gap: 45px;
    }
    .banner img,.banner .banner__content{
        position: unset;
    }
    .banner .banner__content{
        transform: unset;
        width: 100%;
        padding: 26px 0;
    }
    .banner-title{
        font-size: 70px;
    }

    /*biography*/
    .biography{
        padding-left: 0;
        flex-flow: column-reverse;
    }
    .biography .biography__picture{
        margin-top: -10px;
    }
    .biography .biography__picture,
    .biography .biography__content{
        max-width: 100%;
    }
    .biography .biography__content{
        grid-template-columns: 55% 45%;
        grid-auto-flow: row;
        grid-template-rows: unset;
        row-gap: 30px;
        position: relative;
    }
    .biography .biography__content .section-title{
        transform: unset;
        grid-column: 2/3;
        text-align: right;
        grid-row: 1/2;
        align-self: flex-start;
        padding-right: 35px;
        margin-top: 0;
    }
    .biography .biography__content .biography__text{
        margin-bottom: 0;
        grid-row: 1/2;
        padding-left: 30px;
    }
    .biography .biography__content .biography__text .biography__text-list{
        flex-flow: column;
        gap: 0;
    }
    .biography .biography__content .blockquote::before{
        content: unset;
    }
    .biography .biography__content .blockquote{
        grid-column: 1/3;
        grid-row: 2/3;
        margin: 55px auto 35px;
        padding-left: 25px;
        font-size: 1.9rem;
        line-height: 1.25;
    }
    .biography .biography__content .section-subtitle{
        grid-column: 1/3;
        margin-top: 0;
        font-size: 78px;
        flex-flow: row;
        justify-content: center;
        gap: 8px;
    }
    .biography .biography__content .section-subtitle::before{
        content:'-';
        color:#000;
        width: 25px;
        height: 5px;
        margin-right: 5px;
    }
    .biography .biography__content .section-subtitle .name{
        max-width: 160px;
        overflow: hidden;
    }

    /*designers*/
    .designers{
        margin: 50px auto;
    }
    .designers .section-title{
        right: 35px;
        writing-mode: unset;
        transform: unset;
    }
    .designers .designers__content{
        padding-left: 35px;
        padding-top: 95px;
    }
    .designers .designers__content .designers__content-item_image_big{
        order: 3;
        margin-right: 0;
    }
    .designers .designers__content .designers__content-item{
        gap: 2px;
    }
    .designers .designers__content .designers__content-item img{
        aspect-ratio: 3/5;
        max-height: 442px;
    }
    .designers .designers__content .designers__content-item:nth-child(3){
        align-items: end;
        min-width: 305px;
    }
    .designers .designers__content .designers__content-item:nth-child(3) img{
        width: 100%;
    }
    .designers__content-item .designers__content-item__name{
        margin-top: 23px;
    }

    /*testimonials*/
    .testimonials{
        margin-top: 216px;
        padding: 0 30px;
    }
    .testimonials .section-title{
        padding-left: 0;
        text-align: right;
        padding-right: 18px;
    }
    .testimonials .testimonials__content{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 43px;
        max-width: 367px;
    }
    .testimonials__content-links{
        grid-row: 3/4;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        padding: 0;
        row-gap: 50px;
        column-gap: 40px;
    }
    .testimonials__link{
        transform: unset;
    }
    .testimonials__content-text,
    .testimonials__content-second-img{ 
        grid-column: 1/2;
    }
    .testimonials__content-text{
        width: 95%;
        margin-top: 85px;
    }
    .testimonials__content-second-img{
        grid-row: 2/3;
        margin-top: 40px;
    }
    .testimonials__content-main-img{
        display: none;
    }
    
    /*strength points*/
    .strongpoints{
        padding-left: 35px;
        gap: 0px 19px;
    }
    .strongpoints .section-title{
        grid-column: 2/3;
        transform: unset;
        align-self: center;
        padding-left: 12px;
        margin-top: 0;
        margin-bottom: 18px;
        width: 100%;
    }
    .strongpoints .section-subtitle{
        padding-left: 0;
        grid-row: 2/3;
        margin-bottom: 18px;
    }
    .strongpoints__content-item {
        grid-row-start: 3;
    }
    .strongpoints__content-item.strongpoints__list{
        padding-left: 0;
        margin-top: 10px;
    }
    /*footer*/
    .footer-menu{
        display: unset;
        border-top: 1px solid #000;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 37px;
        margin-top: 60px;
        margin-bottom: 0;
        list-style-type: none;
    }
    .footer-menu .footer-menu__item{
        font-size: 2.5rem;
        font-family: 'Butler';
        font-weight: 400;
        padding: 19px 0;
    }

    .footer-menu .footer-menu__item_text_underline{
        position: relative;
    }
    .footer-menu .footer-menu__item_text_underline::after{
        content: ' ';
        position: absolute;
        width: 23px;
        background-color: #000;
        height: 2px;
        right: 0;
        bottom: 22px;
        display: block;
    }
    .footer-menu .footer-menu__item a{
        color: #000;
        text-decoration: none;
   }
}